.App {
  text-align: center;
}

.crab-bucket {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .crab-bucket {
    animation: crab-bucket-spin infinite 10s linear;
  }
}

.App-header {
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: salmon;
}

@keyframes crab-bucket-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
